In [28]:
# Incident Reports inital exploration
import pandas as pd

In [29]:
df = pd.read_csv("../data/Fire_Stations.csv")
print(df.LOCATION.loc[0])
df.head()

212 W CERMAK RD
CHICAGO, IL 60616
(41.85313331810226, -87.63235666216515)

,NAME,ADDRESS,CITY,STATE,ZIP,ENGINE,LOCATION,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards,:@computed_region_awaf_s7ux
0,E8,212 W CERMAK RD,CHICAGO,IL,60616,E8,"212 W CERMAK RD\nCHICAGO, IL 60616\n(41.853133...",40,35,21194,3,26,8
1,E73,8630 S EMERALD AVE,CHICAGO,IL,60620,E73,"8630 S EMERALD AVE\nCHICAGO, IL 60620\n(41.736...",59,70,21554,529,13,18
2,E14,1129 W CHICAGO AVE,CHICAGO,IL,60642,E14,"1129 W CHICAGO AVE\nCHICAGO, IL 60642\n(41.895...",49,25,22620,522,46,41
3,E71,6239 N CALIFORNIA AVE,CHICAGO,IL,60659,E71,"6239 N CALIFORNIA AVE\nCHICAGO, IL 60659\n(41....",50,20,4450,31,27,42
4,E108,4625 N MILWAUKEE AVE,CHICAGO,IL,60630,E108,"4625 N MILWAUKEE AVE\nCHICAGO, IL 60630\n(41.9...",48,15,21869,259,50,20

In [30]:
# Split off lat,lng categories
def splitLocation(location):
    address,cityStateZip,latLng = location.split('\n')
    lat,lng = latLng.strip('()').split(', ')
    return float(lat),float(lng)
df['lat'],df['lng'] = zip(*df['LOCATION'].map(splitLocation))
df = df.drop(['LOCATION'],axis='columns')
df.head()

,NAME,ADDRESS,CITY,STATE,ZIP,ENGINE,Boundaries - ZIP Codes,Community Areas,Zip Codes,Census Tracts,Wards,:@computed_region_awaf_s7ux,lat,lng
0,E8,212 W CERMAK RD,CHICAGO,IL,60616,E8,40,35,21194,3,26,8,41.853133,-87.632357
1,E73,8630 S EMERALD AVE,CHICAGO,IL,60620,E73,59,70,21554,529,13,18,41.736936,-87.642455
2,E14,1129 W CHICAGO AVE,CHICAGO,IL,60642,E14,49,25,22620,522,46,41,41.895977,-87.656225
3,E71,6239 N CALIFORNIA AVE,CHICAGO,IL,60659,E71,50,20,4450,31,27,42,41.995147,-87.699530
4,E108,4625 N MILWAUKEE AVE,CHICAGO,IL,60630,E108,48,15,21869,259,50,20,41.964650,-87.757858

In [31]:
df.to_csv('../data/Fire_Stations_Clean.csv')